@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */

html,
body,
:root {
  height: 100%;
}

/* react-date-range styles */

.rdrDayDisabled {
  @apply bg-gray-300 text-white;
}

.rdrCalendarWrapper {
  @apply w-full text-sm !important;
}

.rdrMonth {
  @apply w-full !important;
}
